<!DOCTYPE html>
<html>
<head>
  <title><%=@page.try(:title)%></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <link rel="stylesheet" href="//cdn.jsdelivr.net/editor/0.1.0/editor.css">
  <script src="//cdn.jsdelivr.net/editor/0.1.0/editor.js"></script>
  <script src="//cdn.jsdelivr.net/editor/0.1.0/marked.js"></script>  
</head>
<body>
    <div id="demo-bar">
      <h3>You are viewing <a href="https://github.com/snowplow/snowplow/wiki">https://github.com/snowplow/snowplow/wiki</a> on SimpleWiki rendering engine.</h3>
    </div>

    <%= yield %>
</body>
</html>
